<%- include('../partials/head'); %>

<body id="matchresultaten">
    <%- include('../partials/nav'); %>

    <h1>Foundation advies</h1>
    <p>voor <%= antwoorden.name %></p>

    <form id="update"  method="POST" action="/update">
        <input type="hidden" name="userID" id="userID" value="<%= antwoorden.userID %>">
        <input type="text" name="name" value="<%= antwoorden.name %>">
        <input type="number" name="maxPrijs" value="<%= antwoorden.maxPrijs %>">
        <input type="submit" >
    </form>
    
    <section>
        <% foundation.forEach(foundation => { %>
            <article>
                <h2 class="titel"><%= foundation.name %></h2>
                <p class="merk"><%= foundation.brand %></p>
                <p class="prijs">€<%= foundation.price %></p>
            </article>
        <% }) %>
</section>
</body>
</html>