<%- include('../partials/head'); %>

<body id="resulaten">
    <%- include('../partials/nav'); %>

    <h1>Foundation advies </h1>
    <p>voor <%= antwoorden.name %></p>

    <form id="update"  method="POST" action="/update">
        <input type="hidden" name="userID" value="<%= antwoorden.userID %>">
        <input type="text" value="<%= antwoorden.name %>">
        <input type="number" value="<%= antwoorden.maxPrijs %>">
        <input type="submit" >
    </form>
    
    <!-- resultaten -->
    <article>
        <h2></h2>
        <p></p>
        <img src="">
        <p></p>
        <p></p>

    </article>

    
</body>
</html>